.o_field_project_task_state_selection{
    .o_status {
        width: 19.5px;
        height: 19.5px;
        text-align: center;
        margin-top: -0.5px;
    }

    .fa-lg {
        font-size: 1.75em;
        margin-top: -2.5px;
        max-width: 20px;
        max-height: 20px;
    }

    .fa-hourglass-o {
        font-size: 1.4em !important;
        margin-top: 0.5px !important;
    }

    .o_task_state_list_view {
        height: $o-line-size;

        .fa-lg {
            font-size: 1.315em;
            vertical-align: -6%;
        }
        .o_status {
            width: 14.65px;
            height: 14.65px;
            text-align: center;
        }
        .fa-hourglass-o {
            font-size: 1.15em !important;
            padding-left: 1px !important;
        }
    }

    .dropdown-menu {
        .fa {
            margin-top: -1.5px;
            font-size: 1.315em;
            vertical-align: -6%;
            transform: translateX(-50%);
        }

        .o_status {
            margin-top: 1px;
            width: 14.65px;
            height: 14.65px;
            text-align: center;
        }
    }

    .o_status_changes_requested {
        color: $warning;
    }

//    .o_start_working {
//     color: #71639E;  /* Updated purple color for icons and text */
// }
//
// .start_working_color {
//     color: #71639E;  /* Updated purple color for buttons */
//     border: 1px solid #71639E;  /* Updated purple border for buttons */
// }
//
// .start_working_color:hover {
//     background-color: #71639E;  /* Updated purple background color on hover */
//     color: white;  /* Keep text color white on hover */
// }


}
