@supports (-webkit-touch-callout: none) {  /* detects iOS/WebKit */
    @media (max-width: 767px) {
        .o-dropdown--menu.o-dropdown--menu-submenu {
            position: absolute !important;
            z-index: 99999 !important;
            overflow: visible !important;
            top: auto !important;
            left: auto !important;
            right: auto !important;
        }
    }
}